extends ../../../templates/layout/base

include ../../../templates/mixins/docsnavapp
include ../../../templates/mixins/docsnavtop

block intro
	.page-header
		.container
			h1 Configuration
			p.lead How to roll Landmark Connect the way you want it.

block content
	+docsnavtop(docstype)

	.container: .row
		
		.col-sm-3
			+docsnavapp(docssectionapp)
		
		.col-sm-9: .docs-content
				
				.alert.alert-warning This guide is currently being updated.
