extends ../../../templates/layout/base

include ../../../templates/mixins/docsnavapp
include ../../../templates/mixins/docsnavtop

block intro
	.page-header
		.container
			h1 Getting Started Guide
			p.lead This guide steps you through how to create a Landmark Connect app. 
				//- a(href='/getting-started') There's also a generator.
	
block content
	+docsnavtop(docstype)
	
	.container: .row
		
		.col-sm-3
			+docsnavapp(docssectionapp)
		
		.col-sm-9: .docs-content
			
			h2
				a(name="introduction")
				| Introduction
				
			.alert.alert-warning This guide is currently being updated.
