.docs-footer
	.container
		p
			| Modified for use with Landmark Connect by 
			a(href='http://twitter.com/mikestecker', target='_blank') @mikestecker
			|  at 
			a(href='http://www.maven20.com', target='_blank') Maven 2.0
			| , and other 
			a(href='https://github.com/RiversideLabs/landmark/contributors', target='_blank') contributors
			|  under the 
			a(href='http://opensource.org/licenses/MIT', target='_blank') MIT License
		p
			| Code is largly based off 
			a(href='http://keystonejs.com', target='_blank') KeystoneJS
			|  by 
			a(href='http://twitter.com/jedwatson', target='_blank') @jedwatson
			| , 
			a(href='http://twitter.com/bladey', target='_blank') @bladey
			|  and 
			a(href='http://twitter.com/jossmackison', target='_blank') @jossmackison
			|  at 
			a(href='http://www.thinkmill.com.au', target='_blank') Thinkmill
			| , and other 
			a(href='https://github.com/RiversideLabs/landmark/contributors', target='_blank') contributors
			|  under the 
			a(href='http://opensource.org/licenses/MIT', target='_blank') MIT License
		ul.list-inline
			li: a(href='/getting-started', title='LandmarkJS Getting Started') Getting Started
			li: a(href='/docs', title='LandmarkJS Documentation') Documentation
			li: a(href='https://groups.google.com/forum/#!forum/landmarkproject', target='_blank', title='Landmark Project Google Group') Google Group
			li: a(href='https://github.com/RiversideLabs/landmark', target='_blank', title='Github Project (new window)') Github Project
			li: a(href='http://demo.getlandmarkproject.com', target='_blank', title='Demo Website (new window)') Demo Website
			li: a(href='/examples', title='LandmarkJS Database') Examples
			li: a(href='#', data-toggle='modal', data-target='#notice') Notice
.docs-footer-floor
	.container
		.social-buttons
			.social-button.social-button__twitter: a(href="https://twitter.com/landmarkproj", class="twitter-follow-button", data-show-count="true") Follow @LandmarkProj
			.social-button.social-button__github
				| 
				p CMS: 
				iframe(src="http://ghbtns.com/github-btn.html?user=RiversideLabs&repo=landmark&type=watch&count=true", allowtransparency="true", frameborder=0, scrolling=0, width=86, height=20)
				.social-button.social-button__github
					| 
					p App: 
					iframe(src="http://ghbtns.com/github-btn.html?user=RiversideLabs&repo=landmark-connect-app&type=watch&count=true", allowtransparency="true", frameborder=0, scrolling=0, width=86, height=20)


#notice.modal.fade(tabindex='-1', role='dialog', aria-labelledby='noticeLabel', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				h4#noticeLabel.modal-title Notice
			.modal-body
				p The activity which is the subject of this mobile device application and shareware has been financed in part with Federal funds from the National Park Service, Department of the Interior, through the California Office of Historic Preservation. However, the contents and opinions do not necessarily reflect the views or policies of the Department of the Interior or the California Office of Historic Preservation, nor does mention of trade names or commercial products constitute endorsement or recommendation by the Department of the Interior or the California Office of Historic Preservation.
				p This program receives Federal financial assistance for identification and protection of historic properties. Under Title VI of the Civil Rights Act of 1964, Section 504 of the Rehabilitation Act of 1973, and the Age Discrimination Act of 1975, as amended, the U.S. Department of the Interior prohibits discrimination on the basis of race, color, national origin, disability, or age in its federally assisted programs. If you believe you have been discriminated against in any program, activity, or facility as described above, or if you desire further information, please write to:
				p
					| Office of Equal Opportunity
					br
					| National Park Service
					br
					| 1849 C Street, N.W.
					br
					| Washington, D.C. 20240
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') OK
