extends ../../templates/layout/base

include ../../templates/mixins/docsnav
include ../../templates/mixins/docsnavtop

block content
	+docsnavtop(docstype)
	
	.container: .row
		
		.col-sm-3
			+docsnav(docssection)
		
		.col-sm-9: .docs-content
			h2 Welcome
			
			h3 Let's jump in
			p.lead.text-muted Use the sidebar on the left to navigate between the two main sections of the docs; CMS and App.
			.row
				.col-sm-12.col-md-6
					.feature-panel
						.feature-content
							h4: a(href='/docs/cms') CMS Docs
							p The CMS docs will walk you through how to manually setup a LandmarkJS website and API that will be used to power your app, it's a great place to begin.
				.col-sm-12.col-md-6
					.feature-panel
						.feature-content
							h4: a(href='/docs/app') App Docs
							p The app docs will walk you through how to manually setup and customize your app.		
