extends ../templates/layout/base

block intro
	.page-header
		.container
			h1 Examples
			p.lead The following are a great way to see what Landmark can do, and how to use its various features.
	
block content
	.container-sm(style='margin-bottom: 3em;')
		a(name='community')
		h2 LandmarkJS in Production
		
		p If you're curious about what can be done with LandmarkJS, here are a few commercial projects built with it:
		
		h3 City of Riverside
		p LandmarkJS powers the API of the City of Riverside's mobile app.
		ul.list-inline
			li: a(href='http://riversideca.gov/landmarks', target='_blank', title="City of Riverside").btn.btn-primary Visit their site
