extends ../templates/layout/base

block nav

block intro
	.home-hero: .container
		.row
			.col-xs-6.col-sm-6.col-sm-push-1.home-intro-text
				h1 Share the Historical Landmarks in Your City!
				h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada diam vel nunc rhoncus.
				ul.list-inline.list-links
					li Current version #{version}
					li: a(href='https://github.com/RiversideLabs/landmark/blob/master/HISTORY.md', target='_blank', title='View Changelog on GitHub') What’s New
					li: a(href='/examples', title='Sample Applications').hidden-xs Examples
					li: a(href='http://github.com/RiversideLabs/landmark', target='_blank') GitHub Project
			.col-xs-4.col-xs-offset-1
				img(src='/images/home/intro-phone.png').img-responsive
			
		
			
		//- MIT Licence metioned in the subheader and footer
		//- .mit-licence
			a(href='http://opensource.org/licenses/MIT', target='_blank').licence-badge MIT Licence
			span.licence-text Landmark is free and open source.

	

block content
	section.intro-section.opensource-section: .container
		.section-header
			h2 It's open source to help save you time and money.
			p.lead This means that it's a pre-built app in which all you need to add is your custom styling and content.
	include ../templates/includes/page-subheader
	
	section.intro-section.building-section: .container
		.section-header
			h2 Get a head-start on the features you need
			p.lead Landmark is the easiest way to build an app for showing off your city!
		.row
			.col-sm-5.col-sm-offset-1
				.feature-panel
					span.feature-icon
						img(src='/images/home/home-macbook.png', width='338', height='195').img-responsive
					.feature-content
						h4 Easy-to-Use Content Management System
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo lobortis tincidunt. Vestibulum bibendum varius purus quis imperdiet. Vivamus ornare, purus vitae sodales lobortis, orci nibh.
			.col-sm-5
				.feature-panel
					span.feature-icon
						img(src='/images/home/home-iphone.png', width='94', height='195').img-responsive
					.feature-content
						h4 Pre-Built App
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo lobortis tincidunt. Vestibulum bibendum varius purus quis imperdiet. Vivamus ornare, purus vitae sodales lobortis, orci nibh.
	
	section.intro-section.benefits-section
		.container
			.section-header
				h2 Benefits
			.row
				.col-sm-4
					.benefit-panel
						.benefit-icon: span
							img(src='/images/home/icon-camera.svg', width='84', height='58').img-responsive
						.benefit-content
							h4 Tourism & Education
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo lobortis tincidunt. Vestibulum bibendum varius purus quis imperdiet.
				.col-sm-4
					.benefit-panel
						.benefit-icon: span
							img(src='/images/home/icon-glasses.svg', width='130', height='39').img-responsive
						.benefit-content
							h4 Crisp, Clean Design
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo lobortis tincidunt. Vestibulum bibendum varius purus quis imperdiet.
				.col-sm-4
					.benefit-panel
						.benefit-icon: span
							img(src='/images/home/icon-figure.svg', width='41', height='87').img-responsive
						.benefit-content
							h4 User-Friendly CMS
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo lobortis tincidunt. Vestibulum bibendum varius purus quis imperdiet.
			
	section.intro-section.admin-section
		.container: .section-header
			h2 Admin Interface
			p.lead Landmark gives you a beautiful, customisable Admin UI to manage your app's data.
		.container.admin-image-full
			img(src='/images/home/admin-interface.png').img-responsive
	
	//- section.intro-section.tools-section
		span.tool-icon.tool-icon__cloud.entypo.entypo-cloud
		span.tool-icon.tool-icon__rocket.entypo.entypo-rocket
		.container
			.section-header
				h2.text-center What you build is up to you.
				p.lead There are a lot of frameworks that make decisions for you, and many that take decisions away. Landmark doesn't do that. Use the features that suit you, and replace the ones that don't.
			.big-icon
				span.entypo.entypo-tools
			.row
				.col-sm-6.col-md-3
					h4 Built on Express
					p Landmark can configure Express for you, or you can take over and treat Landmark like any other Express middleware.
					p You can also easily integrate it into an existing Express app.
				.col-sm-6.col-md-3
					h4 Powered by MongoDB
					p Landmark uses Mongoose, the leading ODM for node.js and MongoDB, and gives you a single place for your schema, 
						| validation rules and logic.
					p So anything you can build with MongoDB, you can build with Landmark.
				.col-sm-6.col-md-3
					h4 Lightweight and flexible
					p Landmark is designed to be as light as you want - you can pick and choose the features you want to include.
					p Create your own routes, your own database schema, and use any template language you like.
				.col-sm-6.col-md-3
					h4 Extendable
					p One of the greatest things about node.js is the vast number of quality packages available.
					p Landmark is designed to let you use any of them, without losing the benefits it provides.
	
	section.intro-section.cta-section
		span.tool-icon.tool-icon__cloud.entypo.entypo-cloud
		span.tool-icon.tool-icon__rocket.entypo.entypo-rocket
		.container
			.row
				.col-sm-6: .left-col
					a(href='/getting-started', class='btn btn-clear btn-lg btn-block', title='LandmarkJS Getting Started') Get Started &rarr;
				.col-sm-6: .right-col
					a(href='/examples', class='btn btn-clear btn-lg btn-block', title='LandmarkJS Getting Started') View Examples &rarr;
				//- .col-sm-6: .left-col
					h3: a(href='/getting-started', title='LandmarkJS Getting Started') Get Started &rarr;
					p.lead Sound like what you've been looking for? Check out the getting started guide and learn how to get up and running in less than a minute.
				//- .col-sm-6: .right-col
					h3: a(href="mailto:contact@getlandmarkproject.com") Get in Touch &rarr;
					p.lead If you are using Landmark for a project, interested in contributing, or looking for commercial support, we'd love to hear about it. Please contact us.
				
		
	
	
block js
	script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
