extends ../templates/layout/base

block intro
	.page-header
		.container
			h1 Need help?
			p.lead Stuck? Can't figure out what to do next? Need custom development?
	
block content
	.container-sm(style='margin: 3em auto;')
		.alert.alert-warning Coming soon.
